python=3.9
tensorflow~=2.12.0
scikit-learn~=1.2.2
statsmodels~=0.14.0
xgboost
prophet
pandas~=2.0.2
numpy~=1.23.5
matplotlib~=3.7.1
requests~=2.31.0
pmdarima
pytz~=2023.3
statsmodels
chardet
keras~=2.12.0
python-dateutil~=2.8.2